* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body {
  background: #563a;
}

.contenedor {
  width: 80%;
  margin: 10px auto;
  background: #785;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  box-shadow: 0 0 10px 3px #120;
  height: 100vh;
}
header {
  width: 100%;
  background: #563;
  padding-top: 10px;
  margin-bottom: 40px;
}
h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-shadow: 0 0 10px #341;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #fff;
  background: #d3c300;
  padding: 10px 60px;
  border-radius: 7px;
  margin: 10px 10px 30px;
  font-size: 18px;
  display: block;
  transition: filter 0.3s, transform 0.3s;
  text-shadow: 0 0 1px #341;
}
.menu a:hover {
  filter: saturate(1.7);
  transform: scale(1.1);
}

main {
  width: 60%;
  margin-bottom: 40px;
}
.tabla-general,
.tabla-resumen {
  width: 100%;
  color: #fff;
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0 0 5px #120;
}

.encabezados th {
  background: #341;
  padding: 20px 10px;
}
.encabezados th:first-child {
  border-top-left-radius: 5px;
}
.encabezados th:last-child {
  border-top-right-radius: 5px;
}

td {
  height: 60px;
  text-align: center;
  background: #d3c300;
}
table .fila:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
table .fila:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.general__imagen {
  padding: 10px 0;
}

img {
  width: 60%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}

.general__cantidad {
  width: 50px;
}
.general__cantidad input {
  width: 70%;
  background: #d3c300;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 5px;
}
.general__eliminar a {
  background: #563;
  padding: 8px 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

aside {
  width: 20%;
  margin-bottom: 40px;
}
.descripcion {
  font-weight: bold;
  padding-left: 20px;
}
.tabla-resumen td {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  main {
    width: 80%;
  }
  aside {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .contenedor {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  main,
  aside {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 720px) {
  header {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 35px;
    padding: 5px 0;
  }
  .menu a {
    padding: 10px 30px;
    margin: 5px 5px 15px;
    font-size: 14px;
  }
  main,
  aside {
    font-size: 12px;
  }
  main {
    width: 90%;
  }
  aside {
    width: 40%;
  }
}

@media screen and (max-width: 490px) {
  h1 {
    font-size: 24px;
  }
  .menu a {
    padding: 8px 22px;
    font-size: 10px;
  }
  main,
  aside {
    font-size: 8px;
  }
  td {
    height: 40px;
  }
  .encabezados th {
    padding: 10px;
  }
  .general__cantidad input {
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 2px;
    font-size: 8px;
  }
  .general__eliminar a {
    padding: 5px 7px;
    font-size: 8px;
  }
}
